<div class="p-3">
    <div class="card">
    
        <div class="card-body">
          <div class="card-body">
            {{appState.produitsState.kw}}
            <input  class="p-1" type="text" [(ngModel)]="appState.produitsState.kw">
            <button (click)="searchProduits()" class="btn btn-outline-info ms-1">
              <i class="bi bi-search"></i>
            </button>
          </div>
            <table class="table">
                   <thead>
                    <tr>
                     <th>Nom</th>    <th>Prix</th>    <th>Checked</th>    
                    </tr>
                   </thead>
                <tbody>
             <tr *ngFor="let produit of appState.produitsState.produits">
        
                <td>{{produit.nom}}</td>
                <td>{{produit.prix}}</td>
              <td *ngIf="appState.authState.roles.includes('ADMIN')">
                <button (click)="handleCheckProduit (produit)"
                class=" btn btn-outline-success">
                    <i [class]="produit.checked?'bi bi-check':'bi bi-cercle'"></i>
                </button>
              </td>
<td *ngIf="appState.authState.roles.includes('ADMIN')">
    <button (click)="handleDelete(produit)" class="btn btn-outline-danger">
        <i class="bi bi-trash"></i>
    </button>
</td>
<td *ngIf="appState.authState.roles.includes('ADMIN')">
  <button (click)="handleEdite(produit)" class="btn btn-outline-primary">
      <i class="bi bi-pencil"></i>
  </button>
</td>
             </tr>
             
                </tbody>

            </table>
            <ul class="nav nav-pills">
              <li *ngFor="let page of [].constructor(this.appState.produitsState.totalPage);let i=index">
               <button (click)="handelGoToPage(i+1)"
               [ngClass]="this.appState.produitsState.currentPage==(i+1)?'btn btn-info ms-1':'btn btn-outline-info ms-1'">
                {{(i+1)}}
               </button>
              </li>
            </ul>
    </div>
    </div>